.dashboard__container{
    width:100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 15.5rem auto;
}

.dashboard__aside_nav{
    padding-left: 1.88rem;
    flex-shrink: 0;
    background: rgba(250, 250, 250, 0.40);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}



.aside__nav__heading{
    margin-top: 2.81rem;
    margin-right: 7.99rem;
    width: 5.63863rem;
    height: 1.60838rem;
    flex-shrink: 0;
    fill: var(--Brand-Color, #32D583);
}
.aside__nav__heading svg{
    width: 5.63863rem;
    height: 1.60838rem;
    flex-shrink: 0;
    fill: var(--Brand-Color, #32D583);
}

.aside__nav__selector{
    margin-top: 1.68rem;
    display: flex;
    width: 11.75rem;
    height: 2.1875rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    background: rgba(24, 24, 27, 0.05);
}
.aside__nav__selector .contents__wrapper{
    display: flex;
    align-items: center;
    gap: 6.4375rem; 
}

.aside__nav__selector .contents__wrapper p{
    color: var(--black-main-text, #101828);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem; /* 285.714% */
}
.aside__nav__selector .contents__wrapper svg{
    width: 0.9375rem;
    height: 0.9375rem;
}

.aside__ul__container{
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.aside__ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.aside__ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
}

.aside__ul svg{
    width: 1.25rem;
    height: 1.25rem;
}
.aside__ul a{
    color: var(--Gray-3, #828282);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 285.714% */
}

.top__dashboard__ul li:last-child a{
    color: var(--Brand-Color, #32D583);
}


.bottom__dashboard__ul{
    margin-bottom: 4.44rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.bottom__dashboard__ul .top__list{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.bottom__dashboard__ul .bottom__list{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.bottom__dashboard__ul .bottom__list a{
    color: var(--Brand-Color, #32D583);
}



.dashboard__main__table__section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.06rem;
}


.dashboard__main__header{
    width: 100% ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.12rem 2.5rem 0.81rem;
}


.header__logo__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.375rem;
}
.header__logo__wrapper .brand{
    width: 2.375rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: var(--Brand-Color, #32D583);
    display: flex;
    justify-content: center;

}
.header__logo__wrapper .brand .brand__text{
    width: 1rem;
    height: 1.0625rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 166.667% */
}

.header__logo__wrapper .logo__content{
    display: flex;
    width: 9rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.125rem;
}

.header__logo__wrapper .logo__content .logo__label{
    color: #101828;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
}
.header__logo__wrapper .logo__content .logo__text{
    color: #828282;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}

.main__header__line{
    width: 100%;
    height: 0rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #E6E7EC;
}

.dashboard__main__body{
    box-sizing: border-box;
    width: 100%;
    padding: 0 2.5rem;
}

.main__body__top__section{
    box-sizing: border-box;
    width: 100% ;
    margin-top: 1.62rem;
}

.main__body__top__section .top__banners{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__body__top__section .top__banners .banner__left{
    
}
.main__body__top__section .top__banners .banner__left .banner__left__text{
    color: var(--black-main-text, #101828);
    font-family: Manrope;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 140% */
}
.main__body__top__section .top__banners .banner__right{
    display: inline-flex;
    align-items: flex-start;
    gap: 0.75rem;
}
.main__body__top__section .top__banners .banner__right .create__btn{
    display: flex;
    height: 2.25rem;
    padding: 0.5rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Brand-Color, #32D583);
    background: var(--Brand-Color, #32D583);

}
.main__body__top__section .top__banners .banner__right .create__btn a{
    color: var(--White, #FFF);
    text-align: right;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */

}
.main__body__top__section .top__banners .banner__right .filter__btn{
    display: flex;
    height: 2.25rem;
    padding: 0.5rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Brand-Color, #32D583);
    background: var(--Brand-Color, #32D583);
}
.main__body__top__section .top__banners .banner__right .filter__btn a{
    color: var(--White, #FFF);
    text-align: right;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
}

.main__body__top__section .top__search_wrapper{
    width:100%;
    display: flex;
    justify-content: flex-end; 
   
}

.main__body__top__section .top__search_wrapper .search_input_wrapp{
    width: 18rem;
    box-sizing: border-box;
    margin-top: 1.62rem;
    display: flex;
    height: 2.25rem;
    padding: 0.625rem 0.875rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    justify-content: flex-end;
    border-radius: 0.5rem;
    border: 1px solid #E6E7EC;
    background: var(--White, #FFF);
}


.main__body__top__section .top__search_wrapper .search_input_wrapp input{
    flex: 1 0 0;
    border: none;
    outline: none;
    color: var(--gray-500, #667085);
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 200% */
}
.main__body__top__section .top__search_wrapper .search_input_wrapp svg{
    width: 1.25rem;
    height: 1.25rem;
}


.dashboard__table__container{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #E6E7EC;
    overflow-x: auto;
    overflow-y: auto;
}

.dashboard__table__container table{
    width: 100%;
    border-collapse:collapse;
    table-layout: fixed;
    white-space: wrap;
}

.dashboard__table__container table tr{
    width: 100%;
    height: 2.25rem;
    padding-top: 0.56rem;
    padding-bottom: 0.44rem;
    flex-shrink: 0;
}


.dashboard__table__container :is(th){
    text-align: center;
    color: var(--Gray-3, #828282);
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 166.667% */

}

.dashboard__table__container :is(.column__one){
    border-bottom: 1px solid #E6E7EC;
    text-align:left;
}
.dashboard__table__container :is(td,th){
    border-bottom: 1px solid #E6E7EC;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 4.38rem;
    width: fit-content;
}


.dashboard__table__container :is(svg){
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}


.dashboard__table__container .paused__btn{
    display: inline-flex;
    padding: 0.0625rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: var(--Success-50, #ECFDF3);
    outline: none;
    border: none;

    color: #32D583;
    font-family: Manrope;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 200% */

}
.dashboard__table__container button{
    display: inline-flex;
    padding: 0.0625rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: var(--Gray-5, #E0E0E0); 
    outline: none;
    border: none;

    color: #FFF;
    font-family: Manrope;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 200% */

}

.pop__up__card__wrapper{
    width: 100%;
    padding-right: 9.4rem;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    position: relative;
}

.dropDown__box{
    position: absolute;
    top: -0.6rem;
    display: inline-flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.19);
}

.dropDown__box .contents__wrapp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contents__wrapp p{
    display: flex;
    padding: 0.375rem 0.625rem;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.00);
    color: #828282;
}
.contents__wrapp p:last-child{
    color: #AF202D;
}
.contents__wrapp label{
    color: var(--grey-800, #34373F);
    font-family: Manrope;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contents__wrapp p:last-child label{
    color: var(--red-600, #AF202D);

}

.contents__wrapp p svg{
    width: 0.8125rem;
    height: 0.8125rem;
}


.pagination__icon__wrapper{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    padding-bottom: 1.31rem;
    display: flex;
    align-items: center;
    gap: 0.38rem;
}


.pagination__icon__wrapper .pagination__squares{
    display: flex;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.3rem;
    background: #32D583;
}
.pagination__icon__wrapper .pagination__squares p{
    color: #828282;
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 200% */
}
.pagination__icon__wrapper .pagination__squares:nth-child(2),.pagination__icon__wrapper .pagination__squares:nth-child(3){
    background: #F5F5F5;
}



@media screen and (max-width: 850px) {

    .dashboard__table__container table{
        width: 64rem;
        border-collapse: collapse;
        table-layout:auto;
        white-space: wrap;
    }

   
    
}