:root{
  --text-color-white: #fff;
  --text-color-black: #000;
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 14px;
  --font-size-desktop: 16px;
  --font-size-ipad: 1rem;
  --font-size-phone: 1rem;
  --btn-padding: 16px 32px;
  --btn-width: 220px;
  --btn-border-radius: 1rem;
  --transition: 1.2s ease ;
  --transition-two: 0.3s ease-in-out;
  --chinese-bg-color: #141412;
  --cetacean-blue-bg-color: #0F0D35;
  --ripo-mango-bg-color: #FDC128;
  --xanadu-bg-color: #728A7C;
  --deep-pink-bg-color: #F52D3A;
  --charleston-green-bg-color: #252A36;
  --coral-reef-bg-color: #F37F64;
  --jungle-green-bg-color: #05564B;
  --tulip-bg-color: #FF8787;
  --Languid-bg-color: #D0D1E1;
  --BRIGHT-GREY-bg-color: #EBECEF;
  --diamond-bg-color: #B7E3FF;
  --SAPPHIRE-bg-color: #0856CF;
  --bgColor: #b3005E;
  --bgColor2: #060047;
  --bgColorBody: #1f1f1f;
  --btn-color: #7366e6;
  --btn-hover-color: #140979;
  --textColor1:#060047;
  --textColor2:#eaddcd;
  --link-color:#fff;
  
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Manrope;
  font-size: 16px;
}


a{
  text-decoration: none;
}
